$primary: #5a67d8;
$seconday: #5a67d8;
$tertiary: #ed64a6;
//
$font-light: #fff;
$font-grey: #222831;
$font-dark: #000;
//
$background-light: #fff;
$background-grey-light: #eee;
$background-grey: #222831;
$background-grey-dark: #363636;
$background-dark: #151515;
$background-dark-absolute: #000;




$heightHeader: 60px;

